<!doctype html>
<html lang="ar" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">

    <title>Office employee management system</title>
  </head>
  <body>
    <h1>All Employees</h1>

    <!-- Optional JavaScript; choose one of the two! -->
<div class="container">
    <table class="table table-striped-columns-primary">
  <thead>
    <tr class="table-primary">
    <th scope="col"class="table-primary" >eid</th>
    <th scope="col" class="table-secondary">first-name</th>
    <th scope="col" class="table-success">Last-name</th>
    <th scope="col" class="table-info">Department</th>
    <th scope="col" class="table-light">Role</th>
    <th scope="col"class="table-danger">Salary</th>
    <th scope="col" class="table-warning">bonus</th>
    <th scope="col" class="table-light">hire date</th>
    <th scope="col" class="table-primary">Phone</th>
    </tr>
  </thead>
  {%for emp in emps %}
  <tbody>
  
    <tr class="table-primary">
      <th scope="row">{{emp.id}}</th>
      <td class="table-primary">{{emp.first_name}}</td>
      <td class="table-secondary">{{emp.last_name}}</td>
      <td  class="table-success">{{emp.Department.name}}</td>
      <td class="table-info">{{emp.Role.name}}</td>
      <td class="table-light">{{emp.salary}}</td>
      <td class="table-danger">{{emp.bonus}}</td>
      <td class="table-warning">{{emp.hire_date}}</td> 
      <td class="table-primary">{{emp.phone}}</td>
    </tr>
   
  </tbody>
   {% endfor %}
   
</table>

    
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    -->
  </body>
</html>